body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background color */
  color: #fff; /* Text color */
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  height: 100vh; /* Make the body take up the entire viewport height */
}

#container {
    border: 1px solid white; /* To see where we're working /PO */
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
}

#activityContainer {
  grid-area: 1 / 1 / 3 / 2;
}

#timeAndDate {
  grid-area: 1 / 2 / 2 / 3;
}

#weather {
  grid-area: 2 / 2 / 3 / 3;
}

#canteen {
  grid-area: 1 / 3 / 2 / 4;
}

#busplan {
  grid-area: 2 / 3 / 3 / 4;
}

/* BUS PLAN */

#busplan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#busplan ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
#busplan ul li {
  /* background-color: aqua; */
  border-bottom: solid 1px red;
}

/* #busplan span header hgroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: #00000055;
    width: fit-content;
}

#busplan span header h3 {
    color: #fff;
} */

#busplan span header h3:first-of-type {
  /* background: #F5D45B; */
  /* width: 50px;
    height: 60px; */
  color: #000;
  text-align: center;
}

/*Activity  */
#activity {
    padding: 0 1rem;
    background: red;
}

#activity table {
  width: 100%;
  border: solid 1px #000;
  border-spacing: 0px;
}

#activity table tr {
  border: 1px solid #000;
}

#activity table th,
td {
  border: 1px solid #000;
  text-align: center;
}

/* CLOCK */
#timeAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#currentTime {
  font-size: 10vh; /* Adjust font size as needed */
  margin: 0;
  padding: 0;
}

#currentDate {
  font-size: 1.3rem;
}

/* MENU */
#canteen {
  /* background-color: lightblue; */
}

#canteen p {
    /* margin: 1rem; */
}

.foodDish {
  /* color: red; */
}

.today {
    text-decoration: underline;
}

/* WEATHER */

#weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #425462; */
}

#currentIcon {
    margin-top: 1rem;
    width: 120px;
    /* fill: #7ce1f6; */
    filter: invert(100%);
}

#currentWeather {
    font-size: 2.5rem;
}
